POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
DB_PORT=
DB_HOST=

EMAIL_HOST=
EMAIL_USE_TLS=
EMAIL_PORT=
EMAIL_HOST_USER= 
EMAIL_HOST_PASSWORD=

JWT_SECRET_KEY=
FRONT_BASE_URL=

EMAIL_VERIFICATION_REDIRECT_URL=
PASSWORD_RESET_REDIRECT_URL=


MINIO_BUCKET_NAME=
MINIO_ENDPOINT=